.filter {
}

.filter-items-wrapper {
  background-color: rgb(52, 47, 47);
  display: flex;
}

.item-wrapper {
  display: flex;
  width: 60%;
  transform: translateX(0);
  transition: all 0.1s linear;
}

.icon-btn {
  width: 20%;
  display: flex;
  align-items: center;
  z-index: 1;
  background-color: rgb(52, 47, 47);
}

.left {
  justify-content: flex-end;
}

.right {
  justify-content: flex-start;
}

.arrow-icon {
  color: white;
  cursor: pointer;
}

.filter-details-wrapper {
  background-color: rgb(74, 69, 69);
}

.filter-details {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  width: 60%;
  margin: 0 auto;
  background-color: rgb(74, 69, 69);
}

.filter-names {
  color: white;
  padding-right: 4px;
}

.reset-btn {
  min-width: fit-content;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 8px;
  height: fit-content;
}

@media screen and (max-width: 850px) {
  .icon-btn {
    display: none;
  }
  
  .item-wrapper {
    width: 100%;
    overflow: auto;
  }

  .filter-details {
    width: 100%;
  }
}
