.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 12px;
  background-color: red;
}

.title {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.search-box {
  min-width: 225px;
  padding: 8px;
  border-radius: 4px;
  border: none;
  outline: none;
}

.cards-wrapper {
  background-color: rgb(74, 69, 69);
  flex: 1 1 auto;
}

.cards {
  padding: 16px;
  display: flex;
  max-width: 60%;
  margin: 0 auto;
  gap: 12px;
  justify-content: center;
  flex-wrap: wrap;
}

.page-btns-wrapper {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 24px 0;
}

.info {
  text-align: center;
  font-size: 24px;
  padding: 48px 8px;
  color: white;
}

.filter-loader {
  background-color: rgb(48, 47, 47);
}

.shimmer {
  width: 100%;
  height: 100px;
  background: linear-gradient(-45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
  animation: shimmer 3s linear infinite;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

@media screen and (max-width: 850px) {
  .cards {
    max-width: 100%;
  }
}
